# Backend/Python
backend/.env
backend/venv/
backend/__pycache__/
backend/*.pyc

# Mobile/Kotlin
frontend/mobile/.gradle/
frontend/mobile/build/
frontend/mobile/local.properties

# Obsidian
**/.obsidian/
**/*.sync-conflict-*