#Backend/Python
backend/.env
backend/venv/
backend/__pycache__/
backend/routes/__pycache__/
backend/schemas/__pycache__/
backend/services/__pycache__/
backend/*.pyc
backend/*.pyc[cod]

#Mobile/Kotlin
frontend/mobile/.gradle/
frontend/mobile/build/
frontend/mobile/local.properties
