# ENVIORMENT
**/.env*

# Python
**/__pycache__/
*.py[cod]
*.pyc

# Python virtual environments
**/venv/

# Cache directories
**/.cache/

# Kotlin/Android
frontend/visor/.gradle/
frontend/visor/build/
frontend/visor/local.properties
**/.idea/

# Obsidian
**/.obsidian/
**/*.sync-conflict-*
.mcp.json
